<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="ROLLING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/root/doms/log/catalina/catalina-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender
            name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
        <layout
                class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n</pattern>
        </layout>
    </appender>

    <appender
            name="REQUEST"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/root/doms/log/request/request-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n</pattern>
        </encoder>
    </appender>


    <logger
            name="com.daou.phiphi.interceptor">
        <appender-ref
                ref="REQUEST"/>
        <level
                value="info"
        />
    </logger>
    <logger
            name="com.daou.phiphi.config">
        <appender-ref
                ref="REQUEST"/>
        <level
                value="info"
        />
    </logger>

    <logger
            name="org.springframework">
        <level
                value="info"
        />
    </logger>
    <root
            level="info">
        <appender-ref
                ref="ROLLING"/>
        <appender-ref
                ref="STDOUT"
        />
    </root>
</configuration>

